# {{ .Config.Project.Name }}
> Generated with `genki-cli` v{{ .Config.Project.Version }}

## Project metadata
+ **Name:** {{ .Config.Project.Name }}
+ **Generators:**
{{- range .Config.Project.Generators }}
   - {{ . }}
{{- end }}
